.header {
  /* background-image: url(/public/hero-image01.jpg); */
  border-radius: 0px 0px 70px 70px;
  background: #ec8235; /* fallback for old browsers */
  background: linear-gradient(
    to left,
    #f4d941,
    #ec8235
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-position: top center;
  margin: 0;
  padding-bottom: 5rem;
  padding-top: 25rem;
  margin-top: -15rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-strong);
  background-color: white;
}
.header__text-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  align-items: flex-end;
  text-align: left;
  width: clamp(500px, 50%, 600px);
}
.header__text-box > * {
  color: white;
  text-align: right;
  margin-right: 0;
  margin-top: 2rem;
}
.hero-image-container {
  position: relative;
  width: clamp(350px, 50%, 600px);
  height: 30%;
  margin-left: 10rem;
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__img__animated {
  position: absolute;
  left: -3%;
  top: 8%;
  height: 60%;
  transition: 1s all ease-in-out;
  transform-origin: bottom right;
  animation: 8s twig-wave;
  animation-iteration-count: 5;
  animation-direction: alternate;
}
.hero__img__animated:hover {
  transform: rotate(10deg);
  /* transform-origin: 50% 50%; */
}

.header__fixed-img {
  position: fixed;
  left: 0%;
  top: 10%;
  transform: rotate(180deg) translate(53%, 40%);

  width: 50%;
  z-index: -1;
}
@media only screen and (max-width: 900px) {
  .header__fixed-img {
    transform: rotate(180deg) translate(53%, 50%);
    width: 70%;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__text-box {
    padding-bottom: 2%;
    align-items: unset;
    width: 80%;
  }
  .header__text-box > * {
    text-align: center;
    margin-right: 0;
    margin-top: 2rem;
  }
}
