.header {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: end;
  justify-content: center;

  background-color: white;
  box-sizing: border-box;
  min-height: 90vh;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.header::after {
  content: "";
  position: absolute;
  background-image: url(/public/brocoli-hero.jpg);
  background-size: cover;
  background-position: top center;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -5;
  border-radius: 30px 0 0 30px;
}
.header_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2.5rem 11rem;
  max-width: 1400px;
}
.header__text-backround {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 0;
  top: 0;
}
.header__text-box {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  padding-bottom: 6.8rem;

  width: clamp(255px, 45%, 500px);
}
.header__text-box > h1 {
  text-align: start;
}

.header__paragraph {
  background-color: white;
  padding: 2.5rem 2.5rem 2.5rem 0;
}

.header__fixed-img {
  position: fixed;
  right: 0%;
  top: 10%;
  transform: rotate(180deg) translate(-53%, 40%);

  width: 50%;
  z-index: -10;
  opacity: 0.8;
}
.header__paragraph > p {
  text-align: start;
}
.header__call-to-actions {
  margin: 2.5rem 0 0 0;
  /* justify-self: start; */
}
.header__buttons-container {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 900px) {
  .header {
    min-height: 70vh;
    margin-top: -10rem;
  }
  .header::after {
    width: 100%;
    border-radius: 0;
    opacity: 0.8;
  }
  .header__fixed-img {
    width: 70%;
  }
  .header_container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 2.5rem;

    /* z-index: -; */
  }

  .header__text-box {
    padding-bottom: 2%;
    align-items: center;
    width: 80%;
    justify-content: center;
  }
  .header__text-box::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    z-index: -3;
    opacity: 0.6;
    border-radius: 3rem;
    padding-bottom: 1rem;
  }
  .header__text-box > h1,
  .header__text-box > p {
    text-align: center;
    margin-right: 0;
    margin-top: 2rem;
  }
  .header__buttons-container {
    justify-content: center;
  }
  .header__paragraph {
    background: none;
    padding: 0;
  }
}
