.navbar {
  padding: 20px;
  display: flex;
  align-items: end;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: var(--secondary-dark);
}
.navbar .links {
  margin-left: auto;
}
.links {
  display: flex;
  align-items: end;
}
.navbar__logout {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: -9rem;
}

.links p {
  margin: 5px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 5px 15px;
  margin: 5px;
  font-size: 1.6rem;
  border: var(--secondary-dark) 1px solid;
  transition: all 0.2s ease-in-out;
}
.navbar a:hover {
  color: var(--white);
  background-color: var(--secondary-dark);
  border: var(--secondary-dark) 1px solid;
}
.registerPopUp {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.register-pop-up__background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  filter: blur(50%);
  z-index: 1;
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  .links {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .links > a {
    margin: 0;
  }
}
