.navbar {
  margin: 0 6.8rem;
  max-width: 2000px;
}
.navbar h1 {
  color: var(--secondary-dark);
  color: var(--grey-dark-1);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 4.2rem auto;
  position: relative;
  z-index: 2;
}
.navbar > .logo-box {
  margin-right: auto;
}
.links {
  display: flex;
  align-items: flex-end;
}
.navbar__logout {
  display: flex;
  /* align-items: flex-end; */
  margin-left: auto;
}

.links p {
  margin: 5px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 5px 15px;
  margin: 5px;
  font-size: 1.6rem;
  border: var(--secondary-dark) 1px solid;
  transition: all 0.2s ease-in-out;
}
.navbar a:hover {
  color: var(--white);
  background-color: var(--secondary-dark);
  border: var(--secondary-dark) 1px solid;
}

@media only screen and (max-width: 900px) {
  .links {
    position: fixed;
    bottom: 0rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
    justify-content: space-evenly;
    background-color: var(--secondary-dark);
    padding: 2rem;
    height: 8rem;
  }
  .links > a {
    margin: 0;
    background-color: white;
  }
  .navbar-container {
    justify-content: space-between;
  }
  .navbar__logout {
    align-items: center;
  }
}
