.navbar {
  position: relative;
  margin: 0;
  padding: 0 11rem;
  max-width: 2000px;
  display: inline-block;
  width: calc(100%);
  z-index: 2;
  background-color: rgb(255, 255, 255);
}
.navbar h1 {
  color: var(--secondary-dark);
  color: var(--grey-dark-1);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 4.1rem auto;
  position: relative;
  z-index: 2;
}
.navbar > .logo-box {
  margin-right: auto;
}
.links {
  display: flex;
  align-items: flex-end;
}
.navbar__logout {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-left: auto;
}

.links p {
  margin: 5px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 5px 15px;
  /* margin: 5px; */
  font-size: 1.6rem;
  border: transparent 1px solid;
  transition: all 0.2s ease-in-out;
}
.navbar a:hover {
  color: var(--white);
  background-color: var(--secondary-dark);
  border: var(--secondary-dark) 1px solid;
}
.navbar__user-name {
  font-size: 2rem;
}
@media only screen and (max-width: 900px) {
  .navbar {
    padding: 2.5rem;
    background: none;
  }
  .links {
    position: fixed;
    bottom: 0rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
    justify-content: space-evenly;
    background-color: var(--secondary-dark);
    padding: 2rem;
    height: 8rem;
  }
  .links > a {
    margin: 0;
    background-color: white;
  }
  .navbar-container {
    justify-content: space-between;
    margin: 0;
  }
  .navbar__logout {
    align-items: center;
  }
}
