.featured {
  background-color: rgb(191, 221, 227);
  /* max-width: 1400px; */
  padding: 6.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.featured > .recipe-list {
  display: flex;
  flex-wrap: nowrap;
}
.featured__carousel {
  margin: 11rem;
  max-width: 1075px;
  width: 100%;
  height: 500px;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .featured {
    padding: 4.1rem;
  }
}
