.card-icon {
  height: 10rem;
}
.how-it-works {
  margin-bottom: 5rem;
}
.header__how-it-works__cards {
  display: flex;
  gap: 2rem;
  padding: 4rem;
  max-width: 120rem;
  margin: auto;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .header__how-it-works__cards {
    flex-direction: column;
  }
}
.header__how-it-works__card {
  flex: 1;
  padding: 2rem;
  box-shadow: var(--shadow);
  background-color: var(--white);
  transition: 1s all ease-in-out;
}
.header__how-it-works__card:hover {
  animation: infinite 1s shakey;
  background-color: var(--white);
}

@keyframes shakey {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
