.logo-box {
  display: flex;
  align-items: flex-end;
}
.logo-icon {
  height: 8rem;
  width: 8rem;
}
@media only screen and (max-width: 900px) {
  .logo-icon {
    height: 6rem;
    width: 6rem;
  }
  .logo-box {
    margin: 0;
  }
  .logo-text--secondary {
    display: none;
  }
  .logo-text--primary {
    font-size: 2rem;
  }
}
