.search-form {
  background-color: var(--grey-light-1);
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.5) 10%,
      transparent 15%
    ),
    url(/public/search-image.jpg);
  background-size: cover;
  background-position: top center;
  height: 40rem;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.search-results {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
