.side-card {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  max-width: 800px;
  padding: 4.2rem;
  margin: 6.8rem 0;
  align-items: center;
  border-radius: 30px;
  /* box-shadow: var(--shadow-strong); */
  min-width: 250px;
}
.side-card__icon {
  height: 25rem;
  margin-top: -4rem;
  margin-right: -4rem;
  padding: 4.2rem;
  box-sizing: border-box;
}
.side-card__text-containter {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .side-card {
    margin: 0;
    flex-direction: column;
    padding: 4.2rem;
  }
}
