/* @import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&&display=swap"); */
/* 
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap"); */
@font-face {
  font-family: "Dosis";
  font-style: bold;
  font-weight: 600;
  src: local("Dosis"), url(./fonts/Dosis-Bold.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  font-style: regular;
  font-weight: 400;
  src: local("Dosis"), url(./fonts/Dosis-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Amatic SC";
  font-style: regular;
  font-weight: 400;
  src: local("Amatic SC"), url(./fonts/AmaticSC-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Amatic SC";
  font-style: bold;
  font-weight: 700;
  src: local("Amatic SC"), url(./fonts/AmaticSC-Bold.ttf) format("truetype");
  font-display: swap;
}
/* @font-face {
  font-family: "Amatic SC";
  font-style: bold;
  font-weight: 700;
  src: url(../public/Fonts/AmaticSC-Bold.ttf) format("ttf");
} */
/* base styles */
:root {
  --primary-dark: #007944;
  --primary-light: #71a95a;
  --secondary-dark: #d42d62;
  --secondary-light: #ffbbb4;
  --color-green: #71a95a;
  --color-danger: #a83333;
  --blue: #1e90ff;
  --white: #eeeeee;
  --justWhite: #fff;
  --grey-light-1: #aaa;
  --grey-dark-1: #333;
  --shadow-strong: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  --shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  font-family: "Dosis", sans-serif;
  letter-spacing: normal;
  color: var(--grey-dark-1);
  text-align: center;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  min-height: 100vh;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
.App {
  min-height: 100vh;
  position: relative;
}
/* FONTS */

input {
  accent-color: var(--secondary-dark);
  font-size: 2rem;
  height: 3.5rem;
  border-radius: 10px;
  border: none;
  border-bottom: var(--grey-light-1) 3px solid;
  padding: 3px;
  transition: all ease-in-out 0.2s;
}
input::-webkit-input-placeholder {
  /* color: var(--grey-dark-1); */
}
input:focus {
  outline: none;
  box-shadow: var(--shadow);

  border-bottom: 3px solid var(--color-green);
}
input:focus:invalid {
  border-bottom: 3px solid var(--color-danger);
}

/* BUTTONS */
.btn {
  position: relative;
  padding: 0.5rem 1.5rem;
  background-color: var(--secondary-dark);
  color: var(--justWhite);
  margin: 0rem;
  display: inline-block;
  flex-shrink: 0;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin: 0.5rem;
  font-family: "Amatic SC", cursive;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  z-index: 2;
}
button {
  font-family: "Amatic SC", cursive;
}
.btn:hover {
  transform: translate(0, -0.1rem);
}
/* shadow on after for better performance */
.btn:after {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: var(--shadow);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.btn:hover:after {
  opacity: 1;
}
.btn:active {
  transform: translateY(1px);
}
.btn.btn-outline {
  background: none;
  color: var(--grey-dark-1);
  border: 1px solid var(--grey-dark-1);
}
.margin-medium {
  margin: 5rem;
  padding: 1rem 3rem;
}
.mtop-s {
  margin-top: 2.5rem;
}
@media only screen and (max-width: 900px) {
  .margin-medium {
    margin: 2rem;
  }
}

.btn--priamary {
  background-color: var(--primary-dark);
}

/* /////////////// */
.content {
  margin: auto;
  min-height: 60rem;
}

.flex {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.error-message {
  background-color: var(--color-danger);
  flex-grow: 0;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--white);
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
}
