@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@300;600&display=swap");

/* base styles */
:root {
  --primary-dark:#007944;
  --primary-light:#71A95A;
  --secondary-dark:#F35588;
  --secondary-light:#FFBBB4
  --blue: #1e90ff;
  --white: #eeeeee;
  --grey-light-1: #aaa;
  --grey-dark-1:#333;
  --shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  font-family: "Amatic SC", cursive;
  letter-spacing: normal;
  color:  var(--grey-dark-1);
  text-align: center;
}
html{
  font-size: 62.5%;
  min-height: 100vh;
}
.App {
  min-height: 100vh;
  position: relative;
}
/* FONTS */
h1,
h2,
p,a {
  font-family: "Poppins", sans-serif;
}
p,li,label{
  font-size: 1.6rem;
  margin:1rem;
}
input{
  accent-color:var(--secondary-dark) ;
}





/* BUTTONS */
.btn{
  padding:0.5rem 1.5rem;
  background-color: var(--secondary-dark);
  color:var(--white);
  margin:0rem;
  display: inline-block;
  flex-shrink: 0;
  font-size: 2rem;
  border: none;
  margin: 0.5rem;
  font-family: "Amatic SC", cursive;
}
.margin-medium{
  margin:5rem;
  padding:1rem 3rem;
}
.btn--priamary{
  background-color: var(--primary-dark);
}

/* /////////////// */
.content {
  margin: auto;
min-height:40rem;
}


.flex{
  display: flex;
align-items:center;
padding-right:1rem;
}
.error-message{
  background-color: rgb(184, 63, 63);
  flex-grow: 0;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--white);
  border-radius:2rem;
}

