@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins:wght@300;600&display=swap");

/* base styles */
:root {
  --blue: #1e90ff;
  --white: #eeeeee;
  --grey: #aaa;
  --shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  font-family: "Amatic SC", cursive;
  letter-spacing: normal;
  color: #333;
}
.App {
  min-height: 100vh;
  position: relative;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 1200px;
  margin: 40px auto;

  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.recepie-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.recepie-details div {
  margin: 20px 0;
}
.recepie-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.footer-wrap {
  padding-top: 5rem;
}
.footer {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 5rem;
}
.footer__text > * {
  color: white;
}
.footer__menu > ul {
  display: flex;
  list-style: none;
}
.footer__menu > ul > * {
  margin: 1rem;
  color: white;
  cursor: pointer;
}

/* RECEPIE CARDS STYLING */
.recipe-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 100rem;
  justify-content: center;
}
.recipeCard {
  width: 14rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 5px;
  border: var(--grey) 1px solid;
}
.recipeCard__image {
  width: 100%;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.recipeCard__button {
  align-self: flex-end;
  justify-self: end;
  margin: 1rem;
}
/* <div className="recipe-list">
{recipes.map((recipe) => {
  return (
    <div className="recipeCard" id={recipe.key}> */
