h1,
h2,
p,
a {
  font-family: "Dosis", sans-serif;
}
p,
li,
label {
  font-size: 1.8rem;
}
.heading-primar {
  font-size: 15rem;
}
.heading-primary--main {
  font-size: 10rem;
  display: block;
  font-family: "Poppins", sans-serif;
  line-height: 10rem;
  padding-top: 5rem;
  display: block;
}
.heading-primary--sub {
  display: block;
  font-size: 5rem;
}
.heading-secondary {
  font-size: 6.8rem;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}
.heading-tertiary {
  color: var(--white);
  font-size: 4.2rem;
  font-family: "Dosis", sans-serif;
  line-height: 4.2rem;
  margin-bottom: 2.5rem;
}
.logo-text--primary {
  font-weight: 700;
}
.logo-text--primary {
  font-weight: 700;
  font-size: 5rem;
  display: block;
  line-height: 5rem;
  text-align: center;
  color: var(--primary-dark);
}
/* .logo-text--secondary {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5rem;
  font-size: 1.6rem;
  transform: translateX(0.3rem);
  text-transform: uppercase;
} */
.heading-primary-title {
  text-align: end;
  font-family: "Amatic SC", cursive;
  font-size: 6.8rem;
  line-height: 6.8rem;
  margin-bottom: 2.5rem;
}
.paragraph {
  font-weight: 600;
  letter-spacing: 0.5px;
}
