.register-form {
  position: relative;

  z-index: 10;

  background-color: white;
  padding: 5rem;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
}
.closing-icon {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  display: block;
  padding: 1rem 0.5rem;
  background-color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  transform: scaleX(3);
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.closing-icon:hover {
  background-color: var(--grey-dark-1);
  color: var(--white);
}
.closing-icon:active {
  transform: translateY(2px) scaleX(3);
}
@media only screen and (max-width: 900px) {
  .register-form > .heading-secondary {
    font-size: 2rem;
  }
  .register-form {
    min-width: 80%;
    padding: 2rem;
  }
  .closing-icon {
    bottom: -9%;
    width: 33.3%;
    left: 50%;
    transform: translateX(-50%) scaleX(3);
    top: unset;
  }
}
