.register-form {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
.closing-icon {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  display: block;
  padding: 1rem 0.5rem;
  background-color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  transform: scaleX(3);
  cursor: pointer;
}
